body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 50px;
    font-weight: bold;
    color: #1e3c72;
    margin: 15px 0;
}

button {
    padding: 10px 25px;
    font-size: 16px;
    background: #1e3c72;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2a5298;
}
